:root {

}


*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background: #8A2387;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    animation: backgroundColor 5s infinite;
}

@keyframes backgroundColor {
    0% {
        background: #8A2387;
    }

    25% {
        background: #E94057;
    }

    50% {
        background: #F27121;
    }

    75% {
        background: #E94057;
    }

    100% {
        background: #8A2387;
    }
}

body {
    font-family: 'Montserrat', sans-serif;

}