:root {

    --primary-text-color: #fff;
    --background-color-1: #F08EFC;
    --background-color-2: #EE5166;

}


*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background: var(--background-color-1);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    animation: backgroundColor 5s infinite;
}

@keyframes backgroundColor {

    0% {
        background: var(--background-color-1);
    }

    50% {
        background: var(--background-color-2);
    }

    100% {
        background: var(--background-color-1);
    }

}

body {
    font-family: 'Montserrat', sans-serif;
}