:root {

}


*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #F27121, #E94057, #8A2387);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;

}